<!doctype html>
<html
  lang="en"
  x-data="{ darkMode: (localStorage.getItem('dark') == null) ? window.matchMedia('(prefers-color-scheme: dark)').matches : localStorage.getItem('dark') === 'true'} "
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }"
>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="{{ '/assets/css/prism.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/prism-nord.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="/assets/js/fontawesome.js"></script>

    {% if title == undefined %}
      <title>wayson website</title>
    {% else %}
      <title>
        wayson website |
        {{ title }}
      </title>
    {% endif %}
  </head>
  <body class=" flex justify-center items-start w-screen bg-stone-100 text-black dark:bg-slate-800 dark:text-stone-100">
    <div class="flex flex-col w-11/12 max-w-3xl">
      {% include 'nav.liquid' %}
      {{ content }}
      {% include 'footer.liquid' %}
    </div>
  </body>
</html>
